<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>247456427471-l6b61ev9qkj6ccde7bie4i2vp7liddgi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.247456427471-l6b61ev9qkj6ccde7bie4i2vp7liddgi</string>
	<key>API_KEY</key>
	<string>AIzaSyCm4MdoYrsN-rfD9Il1-G2dOfCVi4tOzdM</string>
	<key>GCM_SENDER_ID</key>
	<string>247456427471</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.trashy.Trashy</string>
	<key>PROJECT_ID</key>
	<string>trashy-a248a</string>
	<key>STORAGE_BUCKET</key>
	<string>trashy-a248a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:247456427471:ios:ff33d5bf384f7ade</string>
	<key>DATABASE_URL</key>
	<string>https://trashy-a248a.firebaseio.com</string>
</dict>
</plist>